# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Environments
.venv/
venv/
env/
ENV/

# Django
db.sqlite3
/staticfiles/
/media/
/*.log

# IDEs & editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env vars
.env
